.members{
    height: 20vh;
    overflow: scroll;
    scroll-behavior: smooth;
}   
.seeAll{
    border: none;
    background-color: #fff;
}
.seeAll:hover {
    border-color: #191a20;
}

.side-profile{
    display: flex;
    align-items: center;

    .side-profile-text{    
        flex-direction: column;
        margin-inline: 20px;
        line-height: 1px;
        text-wrap: wrap;
     }
  }
    
