.GroupItems{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-left: 10px;
}
.Groups{
    background-color: rgb(243, 222, 222);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 70vh;
    justify-content: center;
    .header{
        display: flex;
        gap: 1rem;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
        }
        h2{
            margin-bottom: 1px;
        }

    }
    .join{
        display: flex;
        gap: 7rem;
        align-items: center;
        img{
            height: 40px;
            

        }
    }
}
@media screen and (max-width:425px) {
    .GroupItems{
        display: flex;
        flex-direction: column;
    }
}