.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    // background-color: blue;    
    overflow: hidden;
    margin-right: 0px;
    border-bottom: 2px solid rgb(255, 250, 250);
    .nav-logo {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      width: 30%;
      align-items: center;
      img {
        max-height: 30px;
        max-width: 30px;
      }
    }
    .nav-body {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;      
      margin: 10px;
      

      .input1{        
        display: flex;
        align-items: center;
        width: 30%;
        height: 40px;
        border: 1px solid rgb(72, 61, 61);
        border-radius: 20px;
      }
      img:hover{
        cursor: pointer;
     }
     input {          
      border: none;
      width: 30%;
      margin-left:10px;
      outline: none;
    }

      .nav-body-right {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 10px;
        .message {
          max-width: 25px;
        }
        .userAvator {
          display: flex;
          align-items: center;
        }
        .avat{
          border-radius: 50%;
          width: 25px;
          height: 25px;
        }
      }
  }
}
@media screen and (max-width:425px) {
  .navbar{
    display: flex;
    .nav-logo{
      gap: 3px;
      width:50%;
      h2{font-size: 22px;
      width: 100px;
    }      
    }
     .nav-body{
      justify-content: right; 
       
      .input1{
        display: none;
      }
      .nav-body-right{
        display: flex;
        gap: 2px;
        margin-right:0px;
      }
      
     } 
  }
  
}