.activities{
    display: flex;
    flex-direction: column;
    .Useractivity{
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding: 10px;
        .Avat{
            border-radius: 50%;
        }

        .Userdetails{
            
            p{
                margin-bottom: 1px;
                font-weight: bold;
            }

        }
    }
    .photos{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0.7rem;        
        margin-bottom: 0px;
        padding-bottom: 30px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        
        img{
            
            width: 48%;
            height: 120%;                            
        }                        
    }

}
@media screen and (max-width:425px) {
    .activities{
        .photos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            img{
                width: 98%;
            }
        }
    }
}