.RightSideBar{
    background-color: rgb(248, 250, 248);
    height: 100%;
    width: 100%;
    .headers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p{
            color: blue;
        }
    
    }
}
// @media (max-width: 768px){
//     .RightSideBar{
//         display: flex;
//     }
// }