.GroupsPage{
    height: 90vh;
    width: 150vh;
    background-color:aliceblue;
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;    
    flex-direction: column;
    margin-left: 10px;
    .navbar{        
        padding: 30px;
        gap: 20vh;
        height: 0px;
        align-items: center;
        justify-content: space-between;

        .rightSide{
            display: flex;
            align-items: center;
            button{
                color: #fff;
                font-size: 16px;
                background-color: blue;
                width: 120%;
                height: 50px;
                margin-right: 10px;
                border-radius: 15px;
                border: none;
            }
            
        }
    }
    .suggested{
        display: flex;
        justify-content: space-between;
        h3{
        margin-bottom: 1px;
        }
        button{
            color: blue;
            margin-right: 20px;
        }
    }
    .GroupsItems{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:425px) {
   .GroupsPage{
    display: flex;
    width: 100%;
    background-color: aqua;
   } 
   .details{
    h2{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
   }
}